#container{
    /*width: 800px;*/
    width: 100%;
    margin: auto;
    position: relative;
}
#slideshow{
    /*width: 800px;*/
    width: 100%;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
    position: relative;
}
#rail{
    position: relative;
}
#rail img{
    /*width: 800px;*/
    width: 100%;
    height: 400px;
    object-fit: cover;
    float: left; /* To get ride of gap */
}
.actualDots{
    background: blue;
}
button:focus {
    outline: none;
}
#previous{
    position: absolute;
    font-size: 30px;
    top: calc(50% - 35px);
    left: 5px;
    width: 10%;
    height: 70px;
    margin: 5px;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
}
#next{
    position: absolute;
    font-size: 30px;
    top: calc(50% - 35px);
    right: 5px;
    height: auto;
    width: 10%;
    height: 70px;
    margin: 5px;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
}
#container:hover #next, #container:hover #previous, #container:hover #play {
    opacity: 0.6;
}
#play{
    position: absolute;
    background: none;
    border: 0;
    color: #fff;
    width: 80px;
    left: calc(50% - 40px);
    top: 0;
    bottom: 0;
    opacity: 0;
    font-size: 80px;
    cursor: pointer;
}
/* Dots */
.dots{
    list-style: none;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}
.dots li{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.dots button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #fff;
    background: transparent;
}
button.actualDots {
    background: #fff;
}
